{
    "axiomtoken": "", // This should contain the token you use for logging with Axiom, if you don't have one, you can leave this blank
    "phonenumber": "", // This should contain the phone number you used with signal-cli for setup, including the country code (you can do `signal-cli listAccounts` to get this)
    "socketpath": "girlboss-signal:64", // This should contain the path you want for the signal-cli UNIX socket or TCP socket if you want to use one
    "blacklist": [], // This should contain an array of Signal UUIDs that cannot use the bot
    "prefix": "-", // This should contain the prefix you want each command to start with
    "botname": "Girlboss", // This should contain the first name you want the bot to have on Signal
    "botversion": true, // This should contain a boolean value of whether you want the bot to display its version as the last name
    "tagname": "Development", // This should contain the tag name (such as Alpha, Beta, etc) or generic last name of your bot (disable botversion to set it as just the last name)
    "botavatar": "./Tritium.png", // This should contain the path of the image you want the bot to have as its avatar
    "botabout": "A swiss army knife for Signal messenger.", // This should contain the about you want the bot to have
    "mongoosecon": "mongodb://girlboss-mongodb:27017/tritium", // This should contain the connection string for the MongoDB database you want to use
    "rediscon": "redis://girlboss-dragonfly:6379", // This should contain the connection string for the Redis/DragonflyDB instance used for webhook messaging
    "managedaccount": "", // If you want this bot to double as a selfbot, link your main phone number to signal-cli and put the phone number here
    "externalsignal": true // This should contain a boolean value of whether you want to use an external signal-cli instance (TCP only)
}